@model TCGInventory.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="titulo">        
        <h4>Card</h4>
        <hr />
    </div>    
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Rarity)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Rarity)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Attack)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Attack)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Defense)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Defense)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.YearReleased)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.YearReleased)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Set)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Set)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Score)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Model.ImageUrl" alt="Card Image" class="img-thumbnail" style="max-width: 100%; max-height: 300px;" />
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </a> |
    <a asp-action="Index" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to List
    </a>
</div>