@model IEnumerable<TCGInventory.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Cartas</h1>

<div>
    <a asp-action="Create" class="btn btn-success">Ingresar Carta</a>
</div>

<div>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="filter" class="form-control" placeholder="Filtrar por nombre o Puntaje || falta agregar in citerio" />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr class="table-active">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Attack)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Defense)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.YearReleased)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Set)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                <a href="@item.ImageUrl" target="_blank">
                <img src="@item.ImageUrl"  alt="Foto no disponible" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                </a>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @Html.DisplayFor(model => item.Type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Attack)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Defense)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Set)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Score)
            </td>

<td>
    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
        Detalle
    </a> |
    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
        Editar
    </a> |
    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
         Eliminar
    </a>
</td>

        </tr>
}
    </tbody>
</table>
