@using TCGInventory.ViewModels;
@model CardVM

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Listado de Cartas</h1>
<div class="mt-5">
    <a asp-action="Create" class="btn btn-success">Ingresar Carta</a>
</div>


<div class="mt-3">
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="filter" class="form-control" placeholder="Filtrar por nombre|| falta agregar in criterio" />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>

<div class="table-container mb-3">
    <table class="table">
    <thead>
        <tr class="table-active">
            @*<th class="text-center">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>*@
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cards[0].Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cards[0].Rarity)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cards[0].Set)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cards[0].Score)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cards) {
        <tr>
            <td class="text-center">
                <a href="@item.ImageUrl" target="_blank">
                <img src="@item.ImageUrl"  alt="Foto no disponible" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                </a>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Set)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Score)
            </td>

<td>
    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
        Detalle
    </a> |
    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
        Editar
    </a> |
    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
         Eliminar
    </a>
</td>

        </tr>
}
    </tbody>
</table>
